<%= simple_form_for @user do |f| %>
  <%= render 'shared/errors', object: @user %>

  <%= f.input :username %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email, label: "Email, laisser vide si inexistant" %>
  <%= f.input :password, as: :hidden %>

  <h3>Options</h3>
  <div id='user_options'>
    <%= f.simple_fields_for :user_options do |user_option| %>
      <%= render 'user_option_fields', f: user_option %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'add user_option', f, :user_options %>
    </div>
  </div>

    <%= f.submit %>
<% end %>



