<div class="col-xs-12 col-sm-6 col-lg-4">
  <div class="admin-user-card">
    <div class="admin-user-card__id">
      <div class="admin-user-card__avatar">
        <%= image_tag("default_avatar.jpg", alt: "Default Avatar") %>
      </div>
      <div class="admin-user-card__infos">
        <p><b><%= user.first_name unless user.username == user.first_name %>
         <%= user.last_name unless user.username == user.last_name %></b></p>
        <p><i><%= user.email  %></i> </p>
        <p>Username : <b><%= user.username %></b></p>
      </div>
    </div>

    <div class="admin-user-card__options">
      <p> <%  %> </p>
    </div>

  </div>
</div>
